*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'gilroy';
    
}
html,body{
    width: 100%;
    height: 100%;
}
#main{ 
   width: 100%;
   min-height: 100vh;
   background-color:white;
   background-size: cover;
}
#main #forgot{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% ,-50%);
    width: 730px;
    height: 700px;
    padding: 60px 35px 35px 35px;
    background-color:#ecf0f3;
    border-radius: 40px;
    box-shadow: 13px 13px 20px #cbced1,-13px -13px 20px #fff;
}
.logo{
    background-image: url(https://images.unsplash.com/photo-1481437642641-2f0ae875f836?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTV8fG1hbnxlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60);
    background-size: cover;
    background-position: center;
    width: 100px;
    height: 100px;
    margin: 0 auto;
    border-radius: 50px;
    box-shadow: 0px 0px 2px #272525,0px 0px 0px 5px #3e3e3f,8px 8px 15px #343538,-8px -8px -15px rgb(129, 124, 124);
}
.tittle{
    position: relative; 
    margin-left: 250px;
    margin-top: 10px;
    font-weight: 600;
    font-family: ogg;
   font-size: 50px;
   text-transform: capitalize;
   font-weight: 900;
}
#forgot form{
    margin-top: 90px;
}
#forgot form input{
    position: relative;

    left: 17%;
     border: none;
    outline: none; 
    font-size: 18px;
    color: #555;
    background: none;
    padding: 20px 10px 20px 5px;
    box-shadow: inset 8px 8px 8px #cbced1 ,inset -8px -8px 8px #fff ;
    border-radius: 50px;
}
.em{
    width: 400px;
}
#forgot #one{
    width: 120px;
    height: 40px;
    margin-top: 20px;
    margin-left: 100px;
    border: none;
    outline: none; 
    border-bottom-left-radius: 40px;
    border-top-right-radius: 40px;
    /* box-shadow: inset 8px 8px 8px #cbced1 ,inset -8px -8px 8px #fff ; */
    border-bottom-left-radius: 40px;
    border-top-right-radius: 40px;
    box-shadow: inset 3px 3px 8px #b1b1b1 ,inset -3px -3px 8px #fff ;
    color: #fff;
    background-color: #02c8db;
    cursor: pointer;
    transition: all 0.5s;
    border: none;
}
#forgot  #one:hover{
    background-color: #50e5b9;

}
#forgot #one:active{
    background-color: #88ef9e;
    
}
#forgot  #btn2{
    position: absolute;
    left: 85%;
    top: 5%;
    width: 80px;
    height: 25px;
    border-bottom-left-radius: 40px;
    border-top-right-radius: 40px;
    box-shadow: inset 3px 3px 8px #b1b1b1 ,inset -3px -3px 8px #fff ;
    color: #fff;
    background-color: #02c8db;
    cursor: pointer;
    transition: all 0.5s;
    border: none;
}
#forgot  #btn2:hover{
    background-color: #50e5b9;

}
#forgot #btn2:active{
    background-color: #88ef9e;
    
}
    